@import 'normalize.css';

*,
*::before,
*::after {
   box-sizing: border-box;
}

.App {
   height: 100vh;
   font-family: 'Inter', sans-serif;
   background: linear-gradient(269.43deg, rgb(12, 11, 30) 0.084%, rgb(42, 15, 59) 52.053%, rgb(12, 11, 30) 99.864%);
}
