.font__inter {
   font-family: 'Inter', sans-serif;
}

.font__20-bold {
   font-size: 20px;
   font-weight: 700;
}

.font__16-regular {
   font-size: 16px;
   font-weight: 400;
}

.font__14-regular {
   font-size: 14px;
   font-weight: 400;
}
