.blurred {
   position: absolute;
   width: 100%;
   height: 100%;
   filter: blur(3px); /* размытие контента */
   pointer-events: none; /* блокировка кликов по контенту */
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 3;
}

.result {
   color: rgb(255, 255, 255);
   text-align: center;
   padding-top: 93px;
}
